.body {
    background-color: #405685;
  }
  .navbutton {
    background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  }
  .navtext {
    color: #162A72;
    font-family: 'Moul'; 
    font-size: 36px;
  }
  .navsec {
      background-color: white ;
     border:1px solid black;
     padding: 32px 8px;
  }
  .glow {
    background-color: #FDF4DC;
  }
  .hoverglow:hover {
    background-color: #FDF4DC;
  }
  .responsive {
    width: 100%;
    height: auto;
  }
  .logoimg {
    padding-top: 5%;
  }
  .socialimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding-top: 10%;
      }
      .herebutton {
        background-color: #00873E; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
  .footer1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D6001C;
    color: white;
    text-align: center;
 }
 .footer2 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00873E;
  color: white;
  text-align: center;
}
.colpadding {
  padding-bottom: 40%;
}



  .hone {
    font-family: 'Mountains of Christmas';
    font-size: 32px;
    color: black;
    text-align: center;
    padding-top: 5%;
  }
  .htwo {
    font-family: 'Moulpali';
    font-size: 24px;
    color: black;
    text-align: center;
    padding-top: 5%;
  }
 .hthree {
  font-family: 'Mountains of Christmas';
    font-size: 64px;
    color: white;
    text-align: center;
 }
 .hfour {
  font-family: 'Mountains of Christmas';
    font-size: 72px;
    color: white;
    text-align: center;
    padding-top: 5% ;
    padding-bottom: 5%;
 }
.hfive {
font-family: 'Moul'; 
color: black;
padding-top: 2%;
}
.hsix {
  font-family: 'Mountains of Christmas';
    font-size: 64px;
    color: white;
    padding-left: 2%;
    text-align: center;
 }
.hseven{
  font-family: 'Moul'; 
color: white;
padding-top: 2%;
}
.h8 {
  font-family: 'Mountains of Christmas';
    font-size: 72px;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}