.body {
    background-color: #405685;
  }
  .navbutton {
    background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  }
  .navtext {
    color: #162A72;
    font-family: 'Moul'; 
    font-size: 36px;
  }
  .navsec {
      background-color: white ;
     border:1px solid black;
     padding: 32px 8px;
  }
  .glow {
    background-color: #FDF4DC;
  }
  .hoverglow:hover {
    background-color: #FDF4DC;
  }
  .responsive {
    width: 100%;
    height: auto;
  }
  .logoimg {
    padding-top: 5%;
  }
  .footer1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D6001C;
    color: white;
    text-align: center;
 }
 .footer2 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00873E;
  color: white;
  text-align: center;
}




  .hone {
    font-family: 'Mountains of Christmas';
    font-size: 32px;
    color: black;
    text-align: center;
    padding-top: 5%;
  }
  .htwo {
    font-family: 'Moulpali';
    font-size: 24px;
    color: black;
    text-align: center;
    padding-top: 5%;
  }
 .hthree {
  font-family: 'Mountains of Christmas';
    font-size: 64px;
    color: white;
    text-align: center;
 }
 .hfour {
  font-family: 'Mountains of Christmas';
    font-size: 72px;
    color: white;
    text-align: center;
    padding-top: 5% ;
 }
  

